# Vercel Environment Variables Example
SMTP_HOST=mail.kurumsaleposta.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=info@overseas.marketing
SMTP_PASS=Vnl@.4qb8:7HVK7:
RECIPIENT_EMAIL=info@overseas.marketing
